@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

body,html{
    margin:0px !important;
    padding: 0px !important;
    overflow:hidden;
}